<!DOCTYPE html>
<html>
<head>
  <title>Meeting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui pointing menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> Messages
  </a>
  <a class="item">
    <i class="user icon"></i> Friends
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
<% unless !user_signed_in? %>
    <div class="ui dropdown item">
      <%= current_user.email %>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Profile</a>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "item" %>
      </div>
    </div>
<% end %>
  </div>
</div>

<%= yield %>

<script>
$('.ui.dropdown').dropdown();
</script>
<script>
$('.datepicker').pickadate();
</script>
</body>
</html>
